<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<Thread_UseAllCpuGroups enbaled="true"/>
		<GCCpuGroup enabled="true"/>
		<gcServer enabled="true"/>
	</runtime>
	<appSettings>
		<add key="InputServer" value="icare.postgres.database.azure.com"/>
		<add key="InputServerDatabase" value="icare4h"/>
		<add key="InputServerUserName" value="postgres"/>
		<add key="InputServerPassword" value="icare@4H"/>
		<add key="InputServerPortNum" value="5432"/>
		<add key="OutputServer" value="icare.postgres.database.azure.com"/>
		<add key="OutputServerDatabase" value="icare4h"/>
		<add key="OutputServerUserName" value="postgres"/>
		<add key="OutputServerPassword" value="icare@4H"/>
		<add key="OutputServerPortNum" value="5432"/>
		<add key="OutputBatchSize" value="10000"/>
	</appSettings>
</configuration>